<div class="flex justify-end me-4 " data-controller="dropdown logout">
  <%= image_tag('notifications-icon.svg', class: "w-auto h-auto shrink-0 ms-4") %>
  <% if current_user.image.attached? %>
    <%= image_tag current_user.image, class: "w-10 h-10 rounded-full ms-2", alt: "User Image" %>
  <% else %>
    <img class="w-10 h-10 rounded-full ms-2" src="https://via.placeholder.com/40x40" alt="Placeholder Image"/>
  <% end %>
  <div class="flex flex-col ms-2">
    <p class="font-nunito text-sm font-normal text-text-black leading-normal"> <%= current_user.full_name %> </p>
    <p class="font-nunito text-xs font-normal text-field-gray leading-tight"> <%= current_user.department.capitalize %> </p>
  </div>

  <!-- SVG with data-action to toggle dropdown -->
  <svg class="ms-2 mt-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-action="click->dropdown#toggle">
    <g id="Arrow down">
      <path id="shape" d="M4 9L12 17L20 9" stroke="#121212" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
  </svg>

  <!-- Dropdown menu (initially hidden) -->
  <div class="dropdown-menu hidden absolute right-0 mt-12 bg-white shadow-lg rounded-md w-48 me-2" data-dropdown-target="menu">
    <ul>
      <li class="p-2 hover:bg-gray-100 cursor-pointer">
        <div class="flex items-center">
          <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Group">
              <path id="Vector" d="M10.8497 3.84991C10.8497 1.73244 9.11721 0 6.99981 0C4.8824 0 3.1499 1.7325 3.1499 3.84991C3.1499 5.96731 4.8824 7.69981 6.99981 7.69981C9.11721 7.69981 10.8497 5.96731 10.8497 3.84991Z" fill="#272525"/>
              <path id="Vector_2" d="M8.52241 8.50444C8.03245 8.66194 7.52491 8.74948 6.99991 8.74948C6.47491 8.74948 5.96737 8.66194 5.47741 8.50444C3.93745 7.9969 2.2224 8.4169 1.2075 9.65944C0.454921 10.587 0 11.777 0 13.0545C0 13.7721 0.577501 14.3496 1.29504 14.3496H12.705C13.4225 14.3496 14 13.7721 14 13.0545C14 11.7771 13.545 10.587 12.7925 9.65944C11.76 8.41702 10.0624 7.99702 8.52229 8.50444H8.52241Z" fill="#272525"/>
            </g>
          </svg>

          <%= link_to 'Profile', "#", method: :get, data: { turbo_method: :get }, class: "ms-2" %>
        </div>
      </li>
      <li class="p-2 hover:bg-gray-100 cursor-pointer">
        <div class="flex items-center">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Group">
              <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M8.62424 3.09808e-06H6.95571C6.70472 0.00516891 6.46227 0.0926507 6.26575 0.24897C6.06934 0.405402 5.92973 0.622039 5.86844 0.865596L5.74211 1.34388C5.6845 1.56197 5.5284 1.74053 5.31996 1.82677C5.11165 1.91313 4.87494 1.89707 4.68008 1.78354L4.25268 1.5348C4.03179 1.40285 3.77284 1.34906 3.51758 1.38218C3.26244 1.4152 3.02572 1.53334 2.84582 1.71727L1.71744 2.84577H1.71755C1.53361 3.02578 1.41569 3.26239 1.38258 3.51753C1.34946 3.77267 1.40324 4.03152 1.53508 4.2524L1.78314 4.67969C1.89668 4.87452 1.91274 5.11126 1.82649 5.31968C1.74013 5.528 1.56147 5.68421 1.34337 5.74171L0.865661 5.86838C0.616133 5.93138 0.395135 6.07636 0.23814 6.28017C0.0811446 6.48399 -0.00274042 6.73474 6.83061e-05 6.99204V8.58816C-0.00273915 8.84543 0.0811474 9.09608 0.23814 9.30003C0.395132 9.50385 0.616124 9.64883 0.865661 9.71182L1.34418 9.83804C1.56226 9.89543 1.74094 10.0515 1.8273 10.2598C1.91354 10.4683 1.89748 10.705 1.78384 10.8998L1.53521 11.3272C1.40337 11.5482 1.34958 11.8071 1.38271 12.0623C1.41583 12.3175 1.53375 12.5541 1.71768 12.7341L2.84606 13.8626C3.02596 14.0465 3.26257 14.1646 3.51783 14.1977C3.77297 14.2308 4.03193 14.1771 4.25281 14.0452L4.68021 13.7961C4.87516 13.6827 5.1119 13.6667 5.32021 13.7531C5.52864 13.8394 5.68474 14.0181 5.74235 14.2362L5.86846 14.7143C5.93146 14.9638 6.07644 15.1848 6.28026 15.3418C6.48407 15.4988 6.73483 15.5827 6.99212 15.5799H8.58789C8.84517 15.5827 9.09593 15.4989 9.29976 15.3419C9.50358 15.1848 9.64868 14.9638 9.71155 14.7143L9.83789 14.236C9.8955 14.0179 10.0516 13.8392 10.2599 13.753C10.4682 13.6666 10.7049 13.6825 10.8999 13.796L11.3275 14.045V14.0448C11.5484 14.1769 11.8074 14.2307 12.0625 14.1976C12.3178 14.1644 12.5544 14.0464 12.7343 13.8624L13.8624 12.7339C14.0464 12.554 14.1645 12.3174 14.1976 12.0622C14.2308 11.8071 14.177 11.5481 14.0451 11.3272L13.7969 10.8997C13.6833 10.7048 13.6673 10.468 13.7535 10.2597C13.8399 10.0513 14.0185 9.89519 14.2366 9.83758L14.7143 9.71147C14.9639 9.64847 15.1849 9.50338 15.3419 9.29956C15.4989 9.09574 15.5827 8.84508 15.5799 8.58781V6.99169C15.5827 6.73442 15.499 6.48365 15.342 6.27982C15.1849 6.076 14.9639 5.9309 14.7143 5.86803L14.2357 5.7417C14.0176 5.6842 13.839 5.5281 13.7527 5.31978C13.6664 5.11136 13.6824 4.87464 13.7961 4.67979L14.0448 4.25215V4.25226C14.1767 4.03126 14.2303 3.77243 14.1972 3.51728C14.1641 3.26214 14.0461 3.02554 13.8621 2.84563L12.734 1.71714V1.71703C12.5541 1.53309 12.3173 1.41506 12.0621 1.38205C11.8069 1.34893 11.548 1.40272 11.327 1.53467L10.8999 1.78307C10.7051 1.89649 10.4685 1.91244 10.2602 1.82619C10.0517 1.74006 9.89563 1.56151 9.83791 1.34354L9.71157 0.865592C9.65037 0.622016 9.51078 0.405272 9.31427 0.248852C9.11786 0.0925326 8.87528 0.0050511 8.6243 0L8.62424 3.09808e-06ZM7.78996 10.5225C7.06518 10.5225 6.37004 10.2346 5.85752 9.72204C5.34499 9.20939 5.05705 8.51426 5.05705 7.78948C5.05716 7.06459 5.34511 6.36956 5.85763 5.85704C6.37016 5.34451 7.06541 5.05668 7.79019 5.05668C8.51497 5.05679 9.2101 5.34474 9.72263 5.85738C10.235 6.36991 10.523 7.06516 10.5229 7.78994C10.5222 8.51449 10.234 9.20916 9.72162 9.72149C9.20921 10.2338 8.51453 10.5218 7.78999 10.5225H7.78996ZM7.78996 4.61729V4.61718C8.63143 4.61718 9.43839 4.95138 10.0333 5.54633C10.6283 6.14128 10.9626 6.94816 10.9627 7.7896C10.9627 8.63106 10.6285 9.43803 10.0336 10.033C9.43862 10.6279 8.63174 10.9622 7.7903 10.9624C6.94884 10.9624 6.14187 10.6282 5.54692 10.0332C4.95197 9.43826 4.61765 8.63138 4.61754 7.78994C4.61855 6.94882 4.95298 6.1424 5.5477 5.54756C6.14244 4.95282 6.94884 4.61818 7.78996 4.61718V4.61729Z" fill="#272525"/>
            </g>
          </svg>
          <%= link_to 'Settings', "#", method: :get, data: { turbo_method: :get }, class: "ms-2" %>
        </div>
      </li>
      <li class="p-2 hover:bg-gray-100 cursor-pointer">
        <div class="flex items-center">
          <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Group">
              <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M16.356 7.47853L13.7651 10.0164C13.0492 10.7303 11.9752 9.65954 12.691 8.94551L13.5655 8.07659C13.7647 7.87884 13.6992 7.71851 13.4193 7.71851H4.87755C4.45361 7.71851 4.11599 7.3795 4.11599 6.9612C4.11599 6.54396 4.45695 6.20407 4.87755 6.20407H13.4193C13.6981 6.20407 13.7647 6.04356 13.5655 5.84581L12.691 4.97671C11.9752 4.26302 13.0492 3.19196 13.7651 3.90583L16.3525 6.4177C16.655 6.71134 16.6555 7.18523 16.356 7.47854L16.356 7.47853ZM11.8834 2.03894C12.2293 2.38484 12.2293 2.94578 11.8834 3.29189C11.5373 3.63779 10.9763 3.63779 10.6304 3.29189C8.60392 1.2654 5.31829 1.2654 3.29189 3.29189C1.26549 5.31838 1.2654 8.60401 3.29189 10.6304C5.31838 12.6569 8.60401 12.6569 10.6304 10.6304C10.9763 10.2843 11.5372 10.2843 11.8834 10.6304C12.2293 10.9763 12.2293 11.5372 11.8834 11.8834C9.16487 14.6018 4.75729 14.6018 2.03885 11.8834C-0.679593 9.16487 -0.679638 4.75729 2.03885 2.03885C4.75733 -0.679593 9.16492 -0.679638 11.8834 2.03885V2.03894Z" fill="#272525"/>
            </g>
          </svg>

          <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { controller: 'logout', action: 'click->logout#logout' }, class: "ms-2" %>

        </div>
      </li>
    </ul>
  </div>
</div>