<div class="grid grid-cols-1 grid-rows-[300px_300px_340px_340px_340px_340px_85px] gap-y-2 h-full md:grid-cols-2 md:grid-rows-[300px_340px_340px_85px]">
  <!-- 1. Div: Erste Zeile, Erste Spalte  testfarbe: bg-red-800-->
  <div class="col-start-1 row-start-1 ">
    <%= render 'dashboard/overview_partials/col1-row1' %>
  </div>

  <!-- 2. Div: Erste Zeile, Zweite Spalte  testfarbe: bg-blue-500-->
  <div class="col-start-1 md:col-start-2 row-start-2 md:row-start-1">
    <%= render 'dashboard/overview_partials/col2-row1' %>
  </div>

  <!-- 3. Div: Zweite Zeile, Erste Spalte testfarbe:bg-green-500  -->
  <div class="col-start-1 md:col-start-1 row-start-3 md:row-start-2 md:justify-self-end">
    <%= render 'dashboard/overview_partials/col1-row2' %>
  </div>

  <!-- 4. Div: Zweite Zeile, Zweite Spalte testfarbe: bg-yellow-500 -->
  <div class="col-start-1 md:col-start-2 row-start-4 md:row-start-2 md:justify-self-start">
    <%= render 'dashboard/overview_partials/col2-row2' %>
  </div>

  <!-- 5. Div: Dritte Zeile, Erste Spalte testfarbe: bg-purple-500  -->
  <div class="col-start-1 md:col-start-1 row-start-5 md:row-start-3 md:justify-self-end">
    <%= render 'dashboard/overview_partials/col1-row3' %>
  </div>

  <!-- 6. Div: Dritte Zeile, Zweite Spalte  testfarbe: bg-pink-500-->
  <div class="col-start-1 md:col-start-2 row-start-6 md:row-start-3 md:justify-self-start">
    <%= render 'dashboard/overview_partials/col2-row3' %>
  </div>

  <!-- 7. Div: Vierte Zeile, Erste Spalte testfarbe: bg-orange-500 -->
  <div class="col-span-1 md:col-span-2 row-start-7 md:row-start-4 ">
    <%= render 'dashboard/overview_partials/overview-footer' %>
  </div>
</div>
