<div class="flex justify-center w-[400px] md:w-[562px] h-[327px] rounded-[20px] bg-white mt-1 md:ms-32 mb-2">

<div class="flex flex-col w-full max-w-[500px] ms-4 mt-2">
    <p class="font-nunito text-xl font-extrabold text-text-black mt-4">Memo</p>
    <div class="overflow-auto">
      <table class="table-auto mt-2 me-4 w-full">
        <thead>
        <tr class="border-b border-[#DDDDDD] h-8">
          <th class="text-[#505050] text-xs font-extrabold font-nunito">S/N</th>
          <th class="text-[#505050] text-xs font-extrabold font-nunito">Memo Title</th>
          <th class="text-[#505050] text-xs font-extrabold font-nunito">Sent from</th>
          <th class="text-[#505050] text-xs font-extrabold font-nunito">Sent to</th>
          <th class="text-[#505050] text-xs font-extrabold font-nunito">Status</th>
        </tr>
        </thead>
        <tbody>
        <% @memos.each_with_index do |memo, index| %>
          <tr class="border-b border-[#DDDDDD] h-8">
            <td class="text-text-black text-center text-sm font-normal font-nunito leading-normal"><%= memo.sn %></td>
            <td class="text-text-black text-center text-sm font-normal font-nunito leading-normal"><%= memo.title %></td>
            <td class="text-text-black text-center text-sm font-normal font-nunito leading-normal"><%= memo.sent_from.firstname %> <%= memo.sent_from.lastname %></td>
            <td class="text-text-black text-center text-sm font-normal font-nunito leading-normal"><%= memo.sent_to.firstname %> <%= memo.sent_to.lastname %></td>
            <td class="text-center text-sm font-normal font-nunito leading-normal
                <%= if memo.status == 'Approved'
                                             'text-approved-green'
                    else
                      memo.status == 'Pending' ? 'text-pending-yellow' : 'text-rejected-red'
                    end %>">
              <%= memo.status %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
