<turbo-frame id="memo-list">
  <div class="flex flex-col w-auto h-full mx-2 mt-2 rounded-[20px] bg-white">
    <div class="flex justify-between items-center">
      <p class="font-nunito text-xl font-extrabold text-text-black mt-4 ms-2">All Stocks</p>
      <div class="flex justify-end me-2">
        <%= form_with url: stock_index_path, method: :get, data: { controller: "pagingUpdate", action: "change->pagingUpdate#update" }, local: true do |form| %>
          <label for="per_page" class="text-sm font-nunito">Items per page: </label>
          <%= form.select :per_page, options_for_select([5, 10, 25, 50], selected: params[:per_page]), {}, class: "border border-light-gray rounded-md p-1" %>
        <% end %>
      </div>
    </div>

    <!-- Wrapping the table in a turbo-frame -->
    <div class="overflow-auto">
      <table class="table-auto mt-2 me-4 w-full">
        <thead>
        <tr class="border-b border-[#DDDDDD] h-8">
          <th class="text-[#505050] text-xs font-extrabold font-nunito">S/N</th>
          <th class="text-[#505050] text-xs font-extrabold font-nunito">Product Name</th>
          <th class="text-[#505050] text-xs font-extrabold font-nunito">Product Id</th>
          <th class="text-[#505050] text-xs font-extrabold font-nunito">Category</th>
          <th class="text-[#505050] text-xs font-extrabold font-nunito">Price</th>
          <th class="text-[#505050] text-xs font-extrabold font-nunito">Quantity</th>
          <th class="text-[#505050] text-xs font-extrabold font-nunito">Total Amount</th>
          <th class="text-[#505050] text-xs font-extrabold font-nunito">Supplier/th>
          <th class="text-[#505050] text-xs font-extrabold font-nunito">Status</th>
          <th class="text-[#505050] text-xs font-extrabold font-nunito">Action</th>
        </tr>
        </thead>
        <tbody>
        <% @stock.each do |stock| %>
          <tr class="border-b border-[#DDDDDD] h-8">
            <td class="text-text-black text-center text-sm font-normal font-nunito leading-normal"><%= stock.sn %></td>
            <td class="text-text-black text-center text-sm font-normal font-nunito leading-normal"><%= stock.product_name %></td>
            <td class="text-text-black text-center text-sm font-normal font-nunito leading-normal"><%= stock.product_id %></td>
            <td class="text-text-black text-center text-sm font-normal font-nunito leading-normal"><%= stock.category %></td>
            <td class="text-text-black text-center text-sm font-normal font-nunito leading-normal"><%= stock.price %></td>
            <td class="text-text-black text-center text-sm font-normal font-nunito leading-normal"><%= stock.quantity %></td>
            <td class="text-text-black text-center text-sm font-normal font-nunito leading-normal"><%= stock.total_amount %></td>
            <td class="text-text-black text-center text-sm font-normal font-nunito leading-normal"><%= stock.supplier %></td>
            <td class="text-center text-sm font-normal font-nunito leading-normal
                <%= case stock.status
                    when 'in_stock'
                      'text-approved-green'
                    when 'low_in_stock'
                      'text-pending-yellow'
                    else
                      'text-rejected-red'
                    end %>">
              <%= case stock.status
                  when 'in_stock'
                    'In Stock'
                  when 'low_in_stock'
                    'Low in Stock'
                  else
                    'Out of Stock'
                  end %>
            </td>



            <td class="text-accent-blue text-center text-sm font-normal font-nunito leading-normal">
              <%= link_to 'View more', stock_path(stock) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <!-- Pagination links -->
    <div class="flex justify-center mt-4">
      <%= paginate @stock, params: { turbo_frame: 'memo-list' } %>
    </div>
  </div>

</turbo-frame>